@import url("utils/components.css");
html {
    scroll-behavior: smooth;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gotham-Medium;
}
.transparent {
    display: none;
}
main {
    overflow: hidden;
}
nav {
    z-index: 2;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    height: 54px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    padding: 0px 33px 0 0;
    opacity: 0;
    animation: fadeIn 1s forwards;
}
nav .logo {
    height: 100%;
    margin: 1px 70px 1px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .logo svg {
    width: 120px;
    color: rgb(23, 26, 32);
}
nav .logo span {
    display: none;
}
nav .mn-lk-wr a {
    margin: 0 0.7px;
    letter-spacing: normal;
    line-height: 21px;
    color: rgb(23, 26, 32);
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 13px;
    transition: background-color 0.5s ease;
}
nav .mn-lk-wr a:hover {
    background-color: hsla(0,0%,0%,.05);
}
nav .mn-lk-wr {
    gap: 0;
    display: flex;
    flex-direction: row;
}
.presentation-wrapper {
    position: relative;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    height: 100vh;
    width: 100%;
}
.presentation-wrapper .presentation-section {
    scroll-snap-align: start;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
#presentation-model-y {
    background-image: url('../images/Desktop-ModelY.jpg');
}
#presentation-model-3 {
    background-image: url('../images/m3-homepage-desktop.jpg');
}
#presentation-model-s {
    background-image: url('../images/ms-homepage-desktop.jpg');
}
#presentation-model-x {
    background-image: url('../images/mx-homepage-desktop.jpg');
}
#presentation-powerwalls {
    background-image: url('../images/Desktop-SolarPanels.jpg');
}
#presentation-accessories {
    background-image: url('../images/Desktop-Accessories.jpg');
}
.text-labels {
    position: sticky;
    top: 0;
    height: 0;
}
.screen {
    position: sticky;
    height: 100vh;
    display: grid;
    text-align: center;
    grid-template: 
    "a" calc(15vh + 45px)
    "b" calc(1rem + 50px)
    "c" auto
    "d" 47px
    "e" 45px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.screen #title {
    margin-top: calc(15vh + 24px);
    font-size: 40px;
    opacity: 0;
    animation: fadeInTop .5s ease-in-out 1s forwards;
    transition: transform .5s ease-in-out .5s,
    opacity .5s ease-in-out .5s,
    -webkit-transform .5s ease-in-out .5s;
}
.screen #subtitle {
    color: rgb(23, 26, 32);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen #subtitle a {
    border-bottom: 1px solid rgb(23, 26, 32);
}
.screen #buttons {
    margin: auto 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 25px;
    height: 58px;
    opacity: 0;
    animation: fadeIn 1s forwards 1.5s;
}
.screen #buttons a {
    position: relative;
    color: #393c41;
    border-radius: 25px;
    width: 260px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 0 25px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    background-color: rgba(244, 244, 244, 0.65);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition: all .5s ease-in-out 1s;
}
.screen #buttons a:hover {
    background-color: rgba(244, 244, 244, 1);
}
.screen #buttons a.inverted:hover {
    background-color: rgba(23, 26, 32, 1);
}
.screen #buttons a.inverted {
    background-color: rgba(23, 26, 32, 0.8);
    color: #fff;
}
.screen #sublink {
    opacity: 0;
    animation: fadeInBottom 1s forwards 2s;
}
.screen #sublink a {
    color: rgb(23, 26, 32);
    text-decoration: none;
    border-bottom: 1px solid rgb(23, 26, 32);
    font-size: 12px;
}
.screen #sublink p {
    color: rgb(23, 26, 32);
    text-decoration: none;
    font-size: 12px;
}
.screen #caret {
    animation: fadeInBottom .6s forwards 2.5s;
    opacity: 0;
    margin: 0 0 10px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    flex-direction: row;
    gap: 0;
}
.screen #caret span {
    height: 2.2px;
    border-radius: 5px;
    width: 11px;
    background-color: rgba(23, 26, 32, 0.8);
    content: '';
}
.screen #caret span:nth-child(1) {
    transform: translateX(2px) rotateZ(45deg);
    animation: caretAnimLeft 2s infinite ease;
}
.screen #caret span:nth-child(2) {
    transform: translateX(-2px) rotateZ(-45deg);
    animation: caretAnimRight 2s infinite ease;
    
}
footer {
    position: absolute;
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 80px;
}
footer a {
    color: rgb(23, 26, 32);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
